{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="login-container">
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'home' %}">
        {{ form.as_p }}
        <button type="submit" class="btn-log btn-rounded">{% trans "Logout" %}</button>
    </form>
</div
{% endblock content %}


