/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* CSS Variables */
:root {
    /* fonts */
    --primary-font: "Pacifico", serif;
    --secondary-font: sans-serif;
    /* font color */
    --primary-color: #f9f5ef;
    /* white */
    --secondary-color: #8a8fc4;
    /* blue-light */
    --highlight-color: #d88038;
    /* orange */
    --highlight-color-light: #e3d245;
    /* yellow */

    /* background color */
    --background-color: #ffffff;
    /* black */
}

/* global */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* navbar */
.brand {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.brand-icon {
    font-size: 3rem;
}

.profile-link {
    display: flex;
    align-items: center;
}

.profile-link .profile-image {
    width: 25px; /* Adjust the size as needed */
    height: 25px; /* Adjust the size as needed */
    object-fit: cover;
    margin-right: 10px;
}

.nav-item .nav-link {
    display: flex;
    align-items: center;
}

.btn-rounded {
    border-radius: 50px;
}

/* index.html */
.feature-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.feature-image-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.feature-text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 1;
}

/* footer */ 
footer {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
}

.footer-icons {
    position: relative;
    z-index: 2;
    color: black;
    text-decoration: none;
}

/* my account */
.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture-container img {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
}

.edit-profile-picture {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* Media Style Queries */

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .brand {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .brand-icon {
        font-size: 1.5rem;
    }
    .btn-rounded {
        border-radius: 25px;
    }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .brand {
        font-size: 1.75rem;
        letter-spacing: 0.15rem;
    }
    .brand-icon {
        font-size: 1.75rem;
    }
    .btn-rounded {
        border-radius: 30px;
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .brand {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    .brand-icon {
        font-size: 2rem;
    }
    .btn-rounded {
        border-radius: 35px;
    }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .brand {
        font-size: 2.25rem;
        letter-spacing: 0.25rem;
    }
    .brand-icon {
        font-size: 2.25rem;
    }
    .btn-rounded {
        border-radius: 40px;
    }
}

/* Extra large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) {
    .brand {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
    }
    .brand-icon {
        font-size: 2.5rem;
    }
    .btn-rounded {
        border-radius: 50px;
    }
}