{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-light my-5"><strong>Hover the box</strong></h3>
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
            <div class="box">
                <div class="box-body">
                    <div class="box-lid">
                        <div class="box-bowtie"></div>
                    </div>
                    <div class="call-to-action-container">
                        <div class="call-to-action">Start your giving journey</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}